<!DOCTYPE html>
<html>
<head>
  <title>ISSB'S Lotto Number Recommend Site</title>
  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <div class="container">
    <h1>ISSB'S Lotto Number Recommend Site</h1>
    <h2>추천 번호:</h2>
    <% for (let line = 0; line < 5; line++) { %>
      <ul>
        <% numbers[line].forEach(function(number) { %>
            <li><%= number %></li>
        <% }) %>
      </ul>
    <% } %>
  </div>
  <a href="/logout">Logout</a>
</body>
</html>